name: Ubuntu CI

on:
  pull_request:

concurrency:
  # If the workflow is triggered by a pull request, then cancel previous runs
  # for the same pull request, which share the same `github.ref`, otherwise the
  # run ID is used to identify the concurrency group, which is a no-op because
  # the run ID is always unique for each trigged event.
  group: ubuntu-ci-${{ github.event_name == 'pull_request' && github.ref || github.run_id }}
  cancel-in-progress: true

# OUT needs to be global. Ideally it would be local to the job so we could
# store it in ${{ runner.temp }} instead of the checkout directory.
# Unfortunately this is hitting some GitHub Action inconsistency with `env`:
# https://github.com/actions/runner/issues/480
env:
  OUT: ${{ format('{0}/out', github.workspace) }}
  DEBIAN_FRONTEND: "noninteractive"

jobs:
  build_ubuntu_noble_nightly:
    runs-on: ubuntu-latest
    steps:
      # The HHVM build requires more disk space than what is available
      # on a default Actions runner, so remove some cruft.
      - name: Free up disk space
        uses: jlumbroso/free-disk-space@v1.3.1
      - name: Fetching HHVM and its submodules
        uses: actions/checkout@v6
        with:
          submodules: "recursive"
      - name: Installing HHVM deps and building HHVM
        uses: docker://ubuntu:noble
        env:
          DISTRO: ubuntu-24.04-noble
          IS_NIGHTLY: 1
          CLANG_VERSION: 18
        with:
          entrypoint: /bin/bash
          args: ci/bin/make-debianish-package
      - name: Uploading artifacts
        uses: actions/upload-artifact@v6
        with:
          name: out-directory
          path: ${{ env.OUT }}
